DATABASE_URL="file:../../../packages/database/prisma/dev.db"
JWT_SECRET="generate-a-256-bit-random-secret-here"
JWT_EXPIRATION="60m"
PORT=3001
CORS_ORIGINS="http://localhost:3000"
NODE_ENV="development"
